html {
  height: 1080px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  background-image: url('../img/menu-kiri-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 25%;
}

div.img-box {
    position:absolute;
    left: 365px;
    top: -30px;
    width: 300px;
    height: 300px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(221, 194, 135, 0.502);
    box-sizing: content-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

div.img-box a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
}

div.img-box a:hover{
    background: #a13122b4;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
}

div.back-button {
  position: fixed;
  bottom: 0%;
  margin: 2rem;
}

div.back-button a {
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 6px;
  background: #ffffffb4;
}

div.back-button a:hover {
  background: #a13122b4;
  color: #fff;
  border-radius: 5px;
  padding: 6px;
}

div.navbar{
    width: 100%;
}

div.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #1C1C1C;
}

div.navbar p{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: auto; 
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
}

div.text-box{
  position: relative;
  top: 80px;
  left: -450px;
  margin-left: 30px;
  background: rgba(221, 194, 135, 0.502);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

div.text-box p{
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

div.text-mainbox{
  display:flex;
  margin-left: 30px;
  flex-direction: column;
  width: 500px;
  height: 100%;
  flex-wrap: wrap;
  flex: 0 0 calc(50% - 10px);
}

div.number-button{
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 17%;
  left: 40%;
}

div.number-button a{
  margin-left: 38px;
  padding: 5px 15px 5px 15px;
  width: 50px;
  height: 35px;
  background-color: rgba(221, 194, 135, 0.502);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

div.number-button a:hover{
  background-color: rgba(202, 158, 62, 0.502);
}
